# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Environment variables (IMPORTANT)
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Streamlit
.streamlit/
.streamlit/secrets.toml

# Temp / DB / generated
*.png
*.sqlite3
